body, header, main, footer, section, div {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    width: 100vw;
    height: 100vh;
    font-size: 16px;
    position: relative;
    background-color: rebeccapurple;
}

header {
    width: 100%;
    height: 12vh;
    text-align: center;
    background-color: #C7E8F0;
    color: rebeccapurple;
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    width: 80%;
    height: 80vh;
    margin: auto;
    position: relative;
    background-color: #E2F2F2;
}

#vitoria {
    width: 500px;
    height: 20%;
    margin: auto;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rebeccapurple;
}

h2 {
    display: none;
}

#labirinto {
    width: 900px;
    height: 80%;
    margin: auto;
    
}

.ficha {
    border: none;
}

.fila {
    width: 840px;
    height: 40px;
    margin: auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.estrada, .inicio, .final, .caminho, .ficha, .wall {
    width: 40px;
    height: 40px;
    margin: auto;
}

.wall {
    background-color: #4E69C1;
}

.inicio {
    background-color: green;
}

.final {
    background-color: red;
}

.caminho {
    background-color: yellow;
}

footer {
    width: 100%;
    height: 8vh;
    text-align: center;
    background-color: #7598D8;
    color: #E2F2F2;
    display: flex;
    justify-content: center;
    align-items: center;
}